.button {
  @apply bg-blue
    duration-300
    font-sans
    inline-block
    px-8
    py-3
    relative
    text-sm
    text-white
    transition-all
    uppercase;

  transform: translate(0);

  &:hover {
    @apply text-blue;

    &:before {
      @apply block;

      right: 2px;
    }
  }

  &:before {
    @apply absolute
      bg-white
      duration-300
      transition-all;

    bottom: 2px;
    content: "";
    left: 2px;
    right: 100%;
    top: 2px;

    z-index: -1;
  }

  /* &:hover {
    @apply bg-blue-dark
      text-white;
  } */

  /* &.theme_outline {
    @apply bg-transparent
      text-blue;

    &:hover {
      @apply bg-blue
        text-white;
    }
  } */

  /* &.theme_outline_white {
    @apply bg-transparent
      border-white
      text-white;

    &:hover {
      @apply bg-transparent
        opacity-50
        text-white;
    }
  } */

  &.theme_lime {
    @apply bg-lime
      /* border-lime */
      text-black;
  }
}
