.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: 0.9rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: background-color 0.35s ease;

  &:hover {
    background-color: var(--color-blue-dark);
  }
}
