@keyframes blink {
  from,
  to {
    @apply bg-black;
  }
  50% {
    @apply bg-transparent;
  }
}

.wrapper {
  @apply inline-block
    relative;

  padding-right: 2px;

  &.isHighlighted {
    @apply bg-black;
    @apply text-white;
  }
}

.cursor {
  @apply absolute
    bg-black
    h-full
    inline-block
    right-0
    top-0;

  width: 2px;

  &.isBlinking {
    animation-direction: step-end;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-name: blink;
  }
}
